
  
  

  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style=" 
    position: sticky;
    top: -200px;
    padding-top: 200px;
    height: 250px;
  ">
    <!-- Links -->
    <!-- <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="students" class="nav-link" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
           <a routerLink="create" class="nav-link" routerLinkActive="active">Services</a>  
          
      </li>
    </ul>
  </nav> --> 


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" >
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>




  <div  style=" width: 100%;
  padding-right: 150px;
  padding-left: 150px;
  margin-right: auto;
  margin-left: auto;">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
     
      <div class="d-flex justify-content-end" *ngIf="showhideNewBtn == true">
        <a  class="btn btn-dark" routerLink="create" class="nav-link" routerLinkActive="active"> 
        <button  class="btn btn-dark" style="margin-left: 10px">New Student</button></a>
      </div>
    
    
      <div class="d-flex justify-content-end" *ngIf = "showhideNewBtn == false">
        <a routerLink="students" class="nav-link" routerLinkActive="active">
        <button  class="btn btn-dark" style="margin-left: 10px">Students List</button></a>
      </div>
    
    
    <hr> 
   
    <router-outlet></router-outlet>
  </div>
  
  <footer class="footer">
    
  </footer> 